﻿html, body {
	margin: 0 0 0 10px;
	padding: 0;
	font-size: 0.9em;
    height: 100%;
}
.container {
    height: 100%;
}
.selected {
	/*border-color: #b72f13;*/
	/*border-width: 2px;*/
	background-color: #b72f13 !important;
}

.upArrow {
	background-image: url("../images/up.png");
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 10px !important;
}

.downArrow {
	background-image: url("../images/down.png");
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 10px !important;
}


/* Clickable */
.clickable {
	cursor: pointer;
	color: #1aace8;
}

/* tableCreate */
.expandable {
    cursor:pointer;
}
.commandLine {
    color: #1aace8;
    font-size: 0.9em;
}
    .commandLine:hover {
        text-decoration: underline;
    }